name: CI

on:
  workflow_dispatch:
  push:
    branches: [main, feature/*]
  pull_request:
    branches: [main]
  release:
    types: [created]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.1
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint
      - run: pnpm run test

  bump-version:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/heads/main')}}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.1
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - name: "Automated Version Bump"
        if: ${{ github.event.head_commit.author.username == 'dependabot[bot]' }}
        uses: "phips28/gh-action-bump-version@master"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag-prefix: "v"
          version-type: "patch"
